<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Listing Your Projects</h1>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<% if @projects!=nil %>
    <table class="table">
  <thead>
    <tr >
      <th>Name</th>
      <th>Owner name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.owner_name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
       </tbody>
</table>
<br>
<%else %>
<p> No Projects to Show </p>
    <%end%>
<h1 style="text-align:center" >Listing Others Projects</h1>

<% if @others!=nil %>
    <table class="table1">
      <thead>
      <tr>
        <th>Name</th>
        <th>Owner name</th>
        <th ></th>
      </tr>
      </thead>

      <tbody>
      <% @others.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.owner_name %></td>
            <td><%= link_to 'Show', project %></td>
            </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<%else %>
    <p> No Projects to Show </p>
<%end%>
<%= button_to 'New Project', new_project_path,:class => "btn btn-success",:method => "get"%>
