<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @project.owner_name %>
</p>

<%= link_to 'View Issues',{ :controller => :issues ,:project => @project ,:project_id => @project.id} %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
