<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Commenter</th>
      <th>Body</th>
      <th>Issue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commenter %></td>
        <td><%= comment.body %></td>
        <td><%= comment.issue %></td>
        <td><%= link_to 'Show', [comment.issue.project ,comment.issue,comment] %></td>
        <td><%= link_to 'Edit', edit_project_issue_comment_path(comment.issue.project,comment.issue,comment) %></td>
        <td><%= link_to 'Destroy', [comment.issue.project ,comment.issue,comment], :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
