<p id="notice"><%= notice %></p>

<h1>Listing Your Projects</h1>

<% if @projects!=nil %>
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.owner_name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
       </tbody>
</table>
<br>
<%else %>
<p> No Projects to Show </p>
    <%end%>
<h1>Listing Others Projects</h1>

<% if @others!=nil %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Owner name</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @others.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.owner_name %></td>
            <td><%= link_to 'Show', project %></td>
            </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<%else %>
    <p> No Projects to Show </p>
<%end%>
<%= link_to 'New Project', new_project_path %>
