<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @project.owner_name %>
</p>
<h2>Issues</h2>
<% @project.issues.each do |issue| %>
    <p>
      <strong>
        Issued by :
      </strong>
      <strong>
        <%= issue.issuer_name %>
      </strong>
    </p>
    <p>
      <strong>
        Subject :
      </strong>
    </p>
    <p>
      <strong>
        <%= issue.subject %>
      </strong>
    </p>
    <p>
  <strong>
    Description :
  </strong>
</p>
    <p>
      <strong>
        <%= issue.description %>
      </strong>
    </p>
<% end%>
   <h2>
     Add an Issue
   </h2>
<%= form_for([@project,@project.issues.build]) do |f| %>
    <p>
      <%= f.label :Subject %><br />
      <%= f.text_field :subject %>
    </p>
    <p>
      <%= f.label  :Description %>
    </p>
    <p>
      <%= f.text_field  :description %>
    </p>
    <%=f.submit %>
    <% end%>
    <p
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
