<%= form_for([@issue.project,@issue]) do |f| %>
	<% if @issue.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

			<ul>
				<% @issue.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :subject %><br>
		<%= f.text_field :subject %>
	</div>
	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :project_id %><br>
		<%= f.text_field :project_id ,:readonly => true %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
