<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Issued by</th>
      <th>Project name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.subject %></td>
        <td><%= issue.issued_by %></td>
        <td><%= issue.project_name %></td>
        <td><%= link_to 'Show', [issue.project, issue] %></td>
        <td><%= link_to 'Edit', edit_project_issue_path(issue.project, issue)%></td>
        <td><%= link_to 'Destroy', [issue.project, issue], data:{ confirm: 'Are you sure?' }, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', {:action => :new,} %>