<h1 style="text-align:center">Issue <%="#{@issue.subject}" %></h1>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Issued by:</strong>
  <%= @issue.issued_by %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @issue.project_name %>
</p>

<h2>Comments </h2>
<% @issue.comments.each do |comment| %>
    <p>
      <strong>
        Commenter
      </strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>
        Body
      </strong>
      <%= comment.body %>
    </p>
    <%= link_to 'Edit', edit_project_issue_comment_path(comment.issue.project,comment.issue,comment) %>|
    <%= link_to 'Destroy', [comment.issue.project ,comment.issue,comment], :method => :delete, data: { confirm: 'Are you sure?' } %></p>

<% end%>

<%= link_to 'Edit', edit_project_issue_path(@issue.project, @issue) %>
<%= link_to 'Back', project_issues_path(@issue.project) %>
<%= link_to 'Keep Comment',{ :controller => :comments ,:action => :new,  :issue=> @issue ,:issue_id => @issue.id ,} %>